body {
	padding: 0px;
	margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}
.container {
	width: 1150px;
	margin: 0 auto;
}
.header {
	background: rgba(4,235,239,1);
	background: -moz-linear-gradient(-45deg, rgba(4,235,239,1) 0%, rgba(3,120,253,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(4,235,239,1)), color-stop(100%, rgba(3,120,253,1)));
	background: -webkit-linear-gradient(-45deg, rgba(4,235,239,1) 0%, rgba(3,120,253,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(4,235,239,1) 0%, rgba(3,120,253,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(4,235,239,1) 0%, rgba(3,120,253,1) 100%);
	background: linear-gradient(135deg, rgba(4,235,239,1) 0%, rgba(3,120,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04ebef', endColorstr='#0378fd', GradientType=1 );
    padding-top: 62px;
    padding-bottom: 225px;
    color: #fff;
}
.offer {
	margin-top: 139px;
	width: 606px;
}
.wrapper {
display: flex;
}
.title {
	font-size: 37px;
	line-height: 1.2em;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}
}
.title span {
	font-size: 59px;
}
.intro {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-bottom: 44px;
	width: 400px;
}
.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	background: #FFD429;
	color: black;
	width: 222px;
	padding: 20px 25px;
	text-align: center;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
}
p {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;

	line-height: 1.6em;
	margin: 0px;
	padding: 0px;

	font-size: 15px;
    line-height: 22px;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none; 
}
.section-one {
	margin: 0px;
	padding-top: 110px;
	padding-bottom: 119px;
}
.list-section-one {
	display: flex;
	justify-content: space-between;
}
.capabilities {
	font-size: 30px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	padding: 0 0 70px 0;
}
h3 {
	font-size: 19px;
	font-family: 'Ubuntu', sans-serif;
	padding: 26px 0px 17px 0px;
}

.li-container {
	display: inline-block;
	text-align: center;
}
.one {
    width: 317px;
}
.two {
    width: 292px;
}
.three {
    width: 327px;
}
/* .p-one {
	width: 317px;
}
.p-two {
	width: 292px;
}
.p-three {
	width: 327px;
} */
.section-two {
	padding-top: 109px;
	padding-bottom: 110px;
	background-color: #ecf3f8;
}
.form{
	
	
}
.input {
	width: 345px;
	height: 50px;
	border: 1px solid #BBBBBB;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	padding-left: 25px;
	margin: 0 auto 13px auto;
	display: flex;
	flex-wrap: wrap;
}
.btn-form {
	border: 0;
	cursor: pointer;
	display: block;
  margin: auto;
}
footer {
	padding:57px 0 61px 0 ;
	background: #164D7A;
	margin: 0px;
}
.credits {
	font-size: 14px;
	display: flex;
	font-style: ;
	color: #FFFFFF;
	justify-content: center;